.articles__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.articles__item {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  max-height: 426px !important;
}

.articles__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
  max-height: 800px !important;
}

.articles__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  max-height: 175px;
  min-height: 175px;
  overflow: scroll;
}

.articles__item-image img {
  max-height: 175px;
  min-height: 175px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.articles__item-image img:hover {
  max-height: 100% !important;
  min-height: 175px;
}
.articles__item-image:hover {
  max-height: 100% !important;
}

.articles__item h3 {
  /* margin: 1.2rem 0 2rem; */
}

.articles__item-cta {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-top: 1rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .articles__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .articles__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
