.container.portfolio__container {
  width: 90%;
  min-height: 500px;
  padding-bottom: 4rem;
}

.project__img {
  overflow: hidden;
  border-radius: 20px;
  margin: 0 auto 1rem;
}

.project__img img {
  width: 100%;
  clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0% 95%);
  border-radius: 30px !important;
}

.project__name {
  font-weight: 500 !important;
  font-size: 1.4rem !important;
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.project__review {
  text-align: left;
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 90%;
  margin: 0.8rem auto 0;
  font-size: 20px;
}
.project__review p {
  padding-bottom: 15px;
}

.module {
  width: 100%;
  /* margin: 0 0 1em 0; */
  overflow: hidden;
}

.module p {
  margin: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.testimonial a {
  color: #fff;
  cursor: pointer;
  border-radius: 10px !important;
  padding: 10px;
  background: var(--color-primary) !important;
}

.project__view {
  margin-top: 4px;
  display: flex;
  justify-content: end;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .container.portfolio__container {
    width: 60%;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .container.portfolio__container {
    width: var(--container-width-sm);
  }

  .project__review {
    width: var(--container-width-sm);
  }
}
